<div class="col-md-12">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h1>Update your flow</h1>
      <%= render partial: 'form', locals: { flow: @flow } %>
    </div>
  </div>
</div>